 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/gearbox_cover.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 620px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  width: 787px;
  margin: 202px auto 0;
}

.u-section-1 .u-text-2 {
  background-image: none;
  font-weight: 500;
  font-size: 0.875rem;
  width: 631px;
  margin: 69px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 169px;
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: 623px;
    margin-top: 48px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 170px;
    margin-right: 0;
    margin-left: 5px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 61px;
    margin-left: 49px;
    margin-right: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 159px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 47px;
    margin-left: 37px;
    margin-right: 37px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 14.58% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 183px;
    margin-left: -3px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 61px;
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 273px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  width: 803px;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 803px;
  font-size: 0.875rem;
  font-weight: 500;
  margin: 29px auto 57px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
    margin-top: 55px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
    margin-bottom: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 292px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
    font-size: 1.5rem;
    margin-top: 53px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
    font-size: 0.75rem;
    margin-bottom: 53px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 52px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-bottom: 52px;
  }
} .u-section-3 {
  background-image: url("images/gearbox_exploded.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 550px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 450px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 355px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 286px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 191px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 412px;
}

.u-section-4 .u-image-1 {
  width: 589px;
  height: 358px;
  margin: 27px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-4 .u-image-1 {
    width: 522px;
    height: 314px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-4 .u-image-1 {
    width: 444px;
    height: 267px;
    margin-top: 43px;
    margin-bottom: 43px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 267px;
  }

  .u-section-4 .u-image-1 {
    width: 316px;
    height: 191px;
    margin-top: 38px;
    margin-bottom: 38px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 273px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  width: 803px;
  font-size: 1.875rem;
  margin: 56px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 0.875rem;
  font-weight: 500;
  width: 803px;
  margin: 30px auto 56px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-top: 54px;
  }

  .u-section-5 .u-text-2 {
    margin-bottom: 54px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 274px;
  }

  .u-section-5 .u-text-1 {
    width: 720px;
    margin-top: 34px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
    margin-bottom: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 273px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
    font-size: 1.5rem;
    margin-top: 40px;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
    margin-top: 36px;
  }

  .u-section-5 .u-text-2 {
    margin-bottom: 36px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 600px;
}

.u-section-6 .u-gallery-1 {
  height: 550px;
  grid-gap: 17px 17px;
  width: 850px;
  margin: 50px auto;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 17px 17px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-gallery-1 {
    height: 500px;
    width: 750px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-gallery-1 {
    width: 720px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-6 .u-gallery-1 {
    height: 400px;
    width: 540px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-gap: 10px 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-6 .u-gallery-1 {
    height: 240px;
    width: 340px;
    margin-top: 40px;
    margin-bottom: 15px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 463px;
}

.u-section-7 .u-image-1 {
  height: 463px;
  width: 900px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 404px;
  }

  .u-section-7 .u-image-1 {
    width: 800px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 309px;
  }

  .u-section-7 .u-image-1 {
    height: 417px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 232px;
  }

  .u-section-7 .u-image-1 {
    height: 300px;
    width: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-7 .u-image-1 {
    height: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 208px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  width: 803px;
  font-size: 1.875rem;
  margin: 5px auto 0;
}

.u-section-8 .u-text-2 {
  font-size: 0.875rem;
  font-weight: 500;
  width: 803px;
  margin: 30px auto 5px;
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    width: 720px;
  }

  .u-section-8 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -65px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    font-size: 0.75rem;
    width: 540px;
    margin-bottom: -65px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 197px;
  }

  .u-section-8 .u-text-1 {
    margin-top: -170px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
    margin-bottom: -170px;
  }
}